@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "tailwindcss";
@import "fumadocs-ui/css/preset.css";
@import "fumadocs-ui/css/neutral.css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@media (width >= 64rem) {
  #nd-docs-layout {
    --fd-sidebar-width: 240px !important;
  }
}

@media (width >= 96rem) {
  #nd-docs-layout {
    --fd-sidebar-width: 232px !important;
  }
}

:root {
  --background: hsl(0 0% 96%);
  --foreground: hsl(0 0% 3.9%);
  --card: hsl(0 0% 94.7%);
  --card-foreground: hsl(0 0% 3.9%);
  --popover: hsl(0 0% 98%);
  --popover-foreground: hsl(0 0% 15.1%);
  --primary: hsl(0 0% 9%);
  --primary-foreground: hsl(0 0% 98%);
  --secondary: hsl(0 0% 93.1%);
  --secondary-foreground: hsl(0 0% 9%);
  --muted: hsl(0 0% 96.1%);
  --muted-foreground: hsl(0 0% 45.1%);
  --accent: hsl(0 0% 82% / 50%);
  --accent-foreground: hsl(0 0% 9%);
  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(0 0% 98%);
  --border: hsl(0 0% 80% / 50%);
  --input: hsl(0 0% 80% / 50%);
  --ring: hsl(0 0% 63.9%);
  --sidebar: hsl(0 0% 96%);
  --sidebar-foreground: hsl(0 0% 3.9%);
  --sidebar-primary: hsl(0 0% 9%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(0 0% 82% / 50%);
  --sidebar-accent-foreground: hsl(0 0% 9%);
  --sidebar-border: hsl(0 0% 80% / 50%);
  --sidebar-ring: hsl(0 0% 63.9%);
}

.dark {
  --background: hsl(0 0% 7.1%);
  --foreground: hsl(0 0% 92.2%);
  --card: hsl(0 0% 9%);
  --card-foreground: hsl(0 0% 98%);
  --popover: hsl(0 0% 11.8%);
  --popover-foreground: hsl(0 0% 87.1%);
  --primary: hsl(0 0% 98%);
  --primary-foreground: hsl(0 0% 9%);
  --secondary: hsl(0 0% 13.3%);
  --secondary-foreground: hsl(0 0% 92.2%);
  --muted: hsl(0 0% 13.3%);
  --muted-foreground: hsl(0 0% 70.2% / 80%);
  --accent: hsl(0 0% 40.8% / 30%);
  --accent-foreground: hsl(0 0% 90.2%);
  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(0 0% 98%);
  --border: hsl(0 0% 40% / 20%);
  --input: hsl(0 0% 40% / 20%);
  --ring: hsl(0 0% 55.1%);
  --sidebar: hsl(0 0% 7.1%);
  --sidebar-foreground: hsl(0 0% 92.2%);
  --sidebar-primary: hsl(0 0% 98%);
  --sidebar-primary-foreground: hsl(0 0% 9%);
  --sidebar-accent: hsl(0 0% 40.8% / 30%);
  --sidebar-accent-foreground: hsl(0 0% 90.2%);
  --sidebar-border: hsl(0 0% 40% / 20%);
  --sidebar-ring: hsl(0 0% 55.1%);
}

.fd-docs-header {
  top: var(--fd-docs-row-1);
  height: var(--fd-header-height);
}

.fd-docs-sidebar {
  top: var(--fd-docs-row-1);
  height: calc(var(--fd-docs-height) - var(--fd-docs-row-1));
}

.fd-docs-toc {
  top: var(--fd-docs-row-1);
  height: calc(var(--fd-docs-height) - var(--fd-docs-row-1));
  width: var(--fd-toc-width);
}

.signature-token {
  color: var(--syntax-light, currentColor);
}

.dark .signature-token {
  color: var(--syntax-dark, var(--syntax-light, currentColor));
}

.shiki code span.code-token {
  color: var(--syntax-light, currentColor) !important;
}

.dark .shiki code span.code-token {
  color: var(--syntax-dark, var(--syntax-light, currentColor)) !important;
}

.official-doc-material-icon {
  direction: ltr;
  display: inline-block;
  font-family: "Material Icons";
  font-size: 1em;
  font-style: normal;
  font-feature-settings: "liga";
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  vertical-align: -0.125em;
  white-space: nowrap;
  word-wrap: normal;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}
